<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bj4.yhh.projectx"
    android:versionCode="6"
    android:versionName="2.1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_home"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.bj4.yhh.projectx.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bj4.yhh.projectx.SettingActivity"
            android:label="@string/settings"
            android:parentActivityName="com.bj4.yhh.projectx.MainActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <!-- update service -->
        <service android:name="com.bj4.yhh.projectx.lot.hk6.HK6ParseService" >
        </service>
        <service android:name="com.bj4.yhh.projectx.lot.lt539.LT539ParseService" >
        </service>
        <service android:name="com.bj4.yhh.projectx.lot.weli.WeLiParseService" >
        </service>
        <service android:name="com.bj4.yhh.projectx.lot.blot.BLotParseService" >
        </service>
    </application>

</manifest>